@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el modo claro */
:root {
    --bg: #fffacd;
    --text: #333;
}

/* Estilos en modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #18181a;
        --text: #eee;
    }
}

body {
    background: var(--bg);
    color: var(--text);
}